body {
  margin: 0 auto;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #ffffff;
}
.Title {
  text-align: center;
  color: #ff0000;
}

.img {
  margin: 20 0 0 0;
  width: 500px;
}

p,
a {
  color: #ff0000;
  padding: 5px;
}

div {
  border: 6px solid #ff0000;
  width: 500px;
  margin: 20 auto;
  background-color: #000000;
}
